*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/imagen/calculadora2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
html{
    font-size: 60%;
    font-family: cursive;
}
.inicio{
    background-color: rgba(90, 177, 3, 0.808);
    text-align: center;
    margin: 0 400px 0 400px;
    border-radius: 10px;
    font-size: xx-large;
}
a{
    text-decoration: none;
    color: rgb(220, 255, 19);
}

.titulo{
    background-color: rgba(128, 255, 0, 0.479);
    color: rgba(46, 87, 5, 0.87);
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 15px;
    margin: 40px 4px;
    /* border: 1px solid burlywood; */
    /* background-image: url("/imagen/calculadora2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.calculadora{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    border: 1px solid burlywood;
    background-color: beige;
}
.resultado{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid burlywood;
    /* es una propiedad que especificasi se recorta el contenido */
    overflow-x: auto;

}
.keypad{
    display: flex;
    /* cuando quieres que adapte */
    width: 100%;
}
.numeros{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.boton{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    /* aparece un dedo en el mouse */
    cursor: pointer;
    background-color: write;
    border: 1px solid burlywood;
}
.boton:hover{
    filter: brightness(80%);
}
.largo{
    width: 50%;
}
.celeste{
    background-color: rgba(153, 13, 13, 0.438);
}
h1{
    text-align: center;
    color: rgb(97, 6, 6);
}
.footer{
    background-color: rgb(43, 43, 43);
    color: aliceblue;
    font-size: large;
    text-align: center;
    padding: 5px;
}
