body{
    background-image: url("/imagen/fondo1java.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    background-attachment: fixed;
}
body > *{
    box-shadow:-1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 30px;
    text-align: center
}
body{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "nav"
    "brendan"
    "section"
    "desarrollo"
    "evolucion"
    "footer"
    "button"
}
#saludo{
    background-color: red ;
}
.saludo2{
    margin-bottom: 5px;
    margin-top: 5px;
}
.header{
    grid-area: header;
    background-color:rgba(0, 0, 0, 0.616);
    font-size: x-large;
    font-family: Bernard MT Condensed;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #faf60d, 
    0 0 30px #e8ff18, 0 0 40px #fbff18, 0 0 55px #e8ff18, 0 0 75px #e8ff18;
    letter-spacing: 5px;
}
.brendan{
    grid-area: brendan;
    margin: 0 500px 0 500px;
    background-image: url("/imagen/fondo2brendan.jpg");
}
.brendan img{
    border-radius: 25px;
}
.brendan p>a{
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    color: #FFF;
    padding: 3px;
    letter-spacing: 5px;
}

nav{
    background-color:rgba(204, 201, 3, 0.747);

}
ul,ol{
    list-style: none;
}
.menu{
    text-align:center;
    
}
.menu li{
    display: inline-block;
    
}
.menu a{
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    width: 200px;
    font-family: Cooper Black;
    font-size: large;
}
.menu a:hover{
    background-color: yellow;
    height:15px ;
    border-radius: 40px;
}
.menu>li>ul{
    display: none;
    position:absolute;
    
}
.menu>li:hover>ul {
    display:block;
    padding: 10px;
    background-color:rgba(204, 201, 3, 0.884);
    border-radius: 20px; 
}
.menu li ul li{
    position: relative;
}
.section{
    background-color: rgba(240, 158, 64, 0.801);
    font-family: cursive;
    font-size: larger;
    text-align: justify;
}
.desarrollo{
    background-color:rgba(158, 146, 36, 0.884);
    font-family: cursive;
    font-size: larger;
    text-align: justify;
}
.evolucion{
    background-color: rgba(220, 20, 60, 0.842);
    font-family: cursive;
    font-size: larger;
    text-align: justify;
}
.footer{
    background-color: rgba(68, 67, 67, 0.904);
    color: #FFF;
    font-family: cursive;
    font-size: larger;
    text-align: center;
}
img{
    border-radius: 40px;
}
.boton a{
    grid-area: button;
    text-decoration: none;
    color: black;
    font-size: xx-large;
}