body{
    background-image: url("/imagen/fondo1juego.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    background-attachment: fixed;
}
header{
    background-color: #f08080;
    font-size: xxx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border-radius: 25px;
    margin: 0 200px 0 200px;
    text-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255),
    0 0 0.2em rgb(225, 240, 26);
    box-shadow:-1px 1px 7px 0px rgba(226, 226, 226, 0.986);
}
.imagen{
    text-align: center;
    
}
img{
    border-radius: 35px;
    padding: 10px;
}
img:hover{
    transform:scale(1.1);
}
.concepto{
    background-color: rgba(128, 255, 0, 0.671);
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    margin: 0 400px 0 400px ;
}
.concepto1{
    background-color: rgba(220, 20, 60, 0.733);
    text-align: justify;
    font-size: xx-large;
    font-family: cursive;
    padding: 1px 10px;
    border-radius: 5px;
}
.yan1 img{
    width: 30%;
    border:1px #f08080;
}
.concepto2{
    background-color: rgba(21, 178, 184, 0.397);
    text-align: justify;
    font-size: xx-large;
    font-family: cursive;
    padding: 10px;
    border-radius: 5px;
}
.yan2 img{
    width: 30%;
    text-align: center;
}
.concepto3{
    background-color:#f08080c4;
    text-align: justify;
    font-size: x-large;
    font-family: cursive;
    padding: 10px;
    border-radius: 5px;
}
.pasos{
    background-color:rgba(37, 149, 153, 0.788);
    margin:0 360px 0 360px;
    border-radius: 45px;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    padding: 5px;
}
.video{
    /* background-color: rgba(255, 127, 80, 0.5); */
    margin:2px 350px 0 350px;
    padding: 5px;
    border-radius: 45px;
    text-align: center;
}
iframe{
    border-radius: 45px;
    border: 5px  dotted rgba(219, 219, 20, 0.726);
}
.footer{
    background-color: rgba(65, 64, 64, 0.726);
    text-align: center;
    padding: 10px;
    font-family: cursive;
    font-size: larger;
    border-radius: 7px;
}
.text{
    color: aliceblue;
}
.footer img{
    border-radius: 200px;
}
button{
    background-color:#f08080;
    margin: 0 0px 0 600px;
    font-family: cursive;
    border-radius: 10px;
}
#next button{
    display: block;
    background-position-x: 50px;
    text-align: center;
}
button a{
    text-decoration: none;
    color: black;
}