
body{
    background-image: url("https://previews.123rf.com/images/dikobrazik/dikobrazik1511/dikobrazik151100082/48880946-del-norte-y-am%C3%A9rica-del-sur-mapa-ilustraci%C3%B3n-color-y-cuadr%C3%ADcula-.jpg");
    /* background-size: 100% ; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    background-attachment: fixed;
}

header{
    background-color: crimson;
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc,
    0 3px 0 rgb(180, 94, 94), 0 4px 0 rgb(255, 170, 170), 0 5px 0 
    #c9f17e, 0 6px 1px rgba(161, 208, 214, 0.925),
    0 0 5px rgba(0,0,0,0.1), 0 1px 3px 
    rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2),
    0 5px 10px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.2), 
    0 20px 20px rgba(0,0,0,0.15);
    border-radius: 45px;
}
    nav{
    background-color:darkolivegreen;
    text-align: center;
    margin: 0 8cm 0 8cm ;
    border-radius: 45px;
    
}
.menu li{
    display: inline-block;
}
.menu a{
    padding:15px;
    color:rgb(245, 245, 245);
    text-decoration: none;
    font-size :large ;
    display: block;
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.menu a:hover{
    background-color: #0b502d;
    padding: 15px;
    border-radius: 45px ;
}
.titulo{
    background-color: rgb(116, 165, 194);
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    font-size: 30px;
    text-shadow: 0px 0px 9px #054424;
}

.concepto{
    background-color: rgb(158, 215, 238);
    text-align: center;
    font-size:x-large;
}
.tabla{
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
    
}
tr,td{
    background-color: #b8d7fa;
    width: 30%;
    /* border: 2px solid rgba(38, 88, 134, 0.918); */
    border-radius: 10px;
}
caption{
    background-color: #c9f17e;
    border: 1px solid green;
    padding: 5px;
    border-radius: 15px;
}
.color{
    background: linear-gradient(rgb(2, 180, 142),yellow,rgb(2, 180, 142));
    font-size: larger;
}
.norte{
    background: linear-gradient(blue,white,red);
    font-size: larger;
}
#sur{
    background: linear-gradient(green , yellow , red , white , red );
    font-size: larger;
}
#central{
    background: linear-gradient(blue , white ,blue);
    font-size: larger;
}
#antillas{
    background: linear-gradient(green , yellow, black,yellow,green,blue,white,blue );
    font-size: larger;
}
.general{
    background-color: #144106;
    border-radius: 50px;
    font-size: x-large;
    text-align: center;
    color: white;
}
img{
    border-radius: 45px;
}
img:hover{
    opacity: .65;
    transition: .9;
    
}
.dina{
    background-image: url("/imagen/Luna.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    border-radius: 15px;
    text-align: center;
    color: antiquewhite;

}
